@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Outfit:wght@300;400;600&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Redressed&display=swap");

:root {
  --background-color: hsl(228, 56%, 26%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Gradient-level1: hsl(6, 100%, 80%);
  --Gradient-level2: hsl(335, 100%, 65%);
  --main-font: "Raleway", sans-serif;
  --Pale-Blue: hsl(243, 100%, 93%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background-image: url(../images/bg-desktop.png);
  background-size: contain;
  background-position: bottom;
  background-color: var(--Very-Dark-Blue);
  background-repeat: no-repeat;
  font-family: var(--main-font);
  height: 100vh;
  width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  height: 100%;
  width: 90%;
  justify-content: center;
}

.card {
  background-color: var(--background-color);
  border-radius: 1rem;
  height: 25vh;
  margin-bottom: 5rem;
  width: 86%;
}

.card-logo {
  border-top-right-radius: 10rem;
  height: 33vh;
  margin-left: 17rem;
  padding: 3rem;
  width: 45%;
}

.card-storage {
  bottom: -22px;
  padding: 3rem 3rem 5rem 3rem;
  position: relative;
}

.box1 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  height: 1vh;
  margin-top: 2.5rem;
  width: 1vh;
}

.btn {
  align-items: center;
  background-color: var(--Very-Dark-Blue);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.info {
  color: var(--Pale-Blue);
  font-size: 14px;
  font-weight: 400;
  padding: 0 8px;
  width: 100%;
}

.box2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.box2 .text {
  color: var(--Pale-Blue);
  font-size: 15px;
  font-weight: 900;
}

.bar {
  background-color: var(--Very-Dark-Blue);
  border-radius: 1rem;
  margin: 1rem;
  padding: 3px;
  width: 100%;
}

.color-bar {
  align-items: center;
  border-radius: 1rem;
  background-image: linear-gradient(
    90deg,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1px;
  width: 75%;
}

.dot {
  background-color: var(--Pale-Blue);
  border-radius: 1rem;
  height: 1.1rem;
  width: 1.1rem;
}

.float-stats {
  left: 50%;
  position: absolute;
  top: 78%;
}

.msg {
  align-items: center;
  background-color: white;
  border-radius: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 32px;
  position: absolute;
  padding: 1rem 2rem;
  top: -13rem;
}

.msg strong {
  color: var(--Very-Dark-Blue);
  font-size: 4rem;
}

.msg span {
  color: var(--Grayish-Blue);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-left: 1rem;
  white-space: nowrap;
}

.triangle {
  display: none;
}

.msg::before {
  background-color: rgb(255, 255, 255);
  bottom: -18px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  content: "";
  color: rgb(255, 255, 255);
  left: 13.8rem;
  height: 20px;
  position: absolute;
  width: 30px;
}
