@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
}

header {
    padding: 40px 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./images/bg-header-desktop.png');
    background-size: cover;
}

.intro {
    text-align: center;
    padding: 20px 0;
    width: 50%;
}

h2 {
    padding: 10px 0;
}
p{
    color: var(--Grayish-Blue);
}

.action_button {
    padding: 30px 0;
}

.action_button button {
    padding: 15px 30px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
}

a {
    cursor: pointer;
}

.action_button button.ios {
    background-color: var(--Strong-Cyan);
    box-shadow: 2px 2px 8px  hsl(171, 66%, 44%);
}

.action_button button.mac {
    background-color: var(--Light-Blue);
    box-shadow: 2px 2px 8px  hsl(233, 100%, 69%);
}

.one {
    
    text-align: center;
    width: 45%;
    margin: auto;
}

h2 {
    padding: 15px 0;
}

.two {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 50px 0;
}

.two img {
    height: 100%;
    width: 80%;
}

.features div {
    margin-top: 40px;
    width: 90%;
}

.three {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.three img {
    height: 100%;
    width: 90%;
    margin: auto;
}

.three div:first-child {
    padding: 70px 0;
    width: 70%;
    margin: auto;
}



.four .functions {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
}

.four .functions div {
    width: 30%;
    margin: 0 30px;
}

.four .functions div img {
    margin: 20px 0 30px 0;
}

.four .support_companys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 60px 40px;
}


.five {
    text-align: center;
    width: 50%;
    margin: auto;
}

footer {
    padding: 0 30px;
    background-color:white;
    padding: 5px 0;
}

footer .foot {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}

.foot .logo {
    width: 50px;
    height: 50px;
    margin: 0 70px;
}

.foot ul {
    list-style: none;
    max-width: 400px;
}

ul li {
    display: inline-block;
    margin: 5px 20px;
}

a {
    color: var(--Strong-Cyan);
}

footer p {
    text-align: center;
}
