:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

}
 * {
    box-sizing: border-box;
}

html {
    font-size: 65%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    text-align: center;
}

 .header-title {
    text-align: center;
    color: var(--Very-Dark-Blue);
    font-weight: 300;
    font-size: 3.5rem;
   
}

.header-subtitle {
    text-align: center;
    color:var(--Very-Dark-Blue);
    font-weight: 500;
    font-size: 3.5rem;
    
}

.header-paragraph {
    text-align: center;
    color: var(--Grayish-Blue);
    font-weight: 500;
    font-size: 1.5rem;
}

.cards {
    margin: 7.5rem 8% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "start mid1 end"
        "start mid2 end";  
}

.title {
    font-size: 3rem;
    color: var(--Very-Dark-Blue);
}

.paragraph {
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
}

.image {
    padding-top: 3rem;
    display: flex;
    justify-content: right;
}

.supervisor {
    border-radius: 0.5rem;
    padding: 3.5rem 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 1rem 2rem 0.5rem #dedede;
    border-top: 1rem solid var(--Cyan);
    grid-area: start;
    align-self: center;
}

.team-builder {
    border-radius: .5rem;
    padding: 3.5rem 3rem;
    margin-bottom: 3rem;
    box-shadow: 0rem 1rem 2rem 0.5rem #dedede;
    border-top: 1rem solid var(--Red);
    grid-area: mid1;
}

.karma {
    border-radius: .5rem;
    padding: 3.5rem 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 1rem 2rem .5rem #dedede;
    border-top: 1rem solid var(--Orange);
    grid-area: mid2;
}

.calculator {
    border-radius: .5rem;
    padding: 3.5rem 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 1rem 2rem .5rem #dedede;
    border-top: 1rem solid var(--Blue);
    grid-area: end;
    align-self: center;
}



.attribution {
    margin-top: 5rem;
    font-size: 1rem; 
    text-align: center;
    font-weight: 300;
}

.attribution a {
    font-weight: 600;
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}

